<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢乐👍红包</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>

<!--<button class="layui-btn" STYLE="margin-top: 70px;margin-left: 35%">-->
    <!--<i class="layui-icon">&#xe608;</i> 添加红包-->
<!--</button>-->

<form class="layui-form" action="/test" STYLE="margin-top: 70px;margin-left: 35%">
    <div class="layui-form-item">
        <label class="layui-form-label">红包金额</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机器人数</label>
        <div class="layui-input-inline">
            <input type="text" name="number" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" STYLE="margin-left: 12%">
        <button class="layui-btn" lay-submit="" lay-filter="demo2">发布红包</button>
        <button class="layui-btn" lay-submit="" lay-filter="demo2">重置</button>
    </div>

</form>
<!--<div class="site-demo-button" id="layerDemo" style="margin-left: 42%">-->
    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">发布红包</button>-->
<!--</div>-->
<script src="../static/layui.js" charset="utf-8"></script>


<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function(){
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    ,title: '当你选择该窗体时，即会在最顶端'
                    ,area: ['390px', '260px']
                    ,shade: 0
                    ,maxmin: true
                    ,offset: [ //为了演示，随机坐标
                        Math.random()*($(window).height()-300)
                        ,Math.random()*($(window).width()-390)
                    ]
                    ,content: '//layer.layui.com/test/settop.html'
                    ,btn: ['继续弹出', '全部关闭'] //只是为了演示
                    ,yes: function(){
                        $(that).click();
                    }
                    ,btn2: function(){
                        layer.closeAll();
                    }

                    ,zIndex: layer.zIndex //重点1
                    ,success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            }
            ,confirmTrans: function(){
                //配置一个透明的询问框
                layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了', '哦']
                });
            }

            ,offset: function(othis){
                var type = othis.data('type')
                    ,text = othis.text();

                layer.open({
                    type: 1
                    ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    ,id: 'layerDemo'+type //防止重复弹出
                    ,content: '<div style="padding: 20px 100px;">'+ text +'</div>'
                    ,btn: '关闭全部'
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    ,yes: function(){
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</body>
</html>