<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢乐👍红包</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>

<!--<button class="layui-btn" STYLE="margin-top: 70px;margin-left: 35%">-->
    <!--<i class="layui-icon">&#xe608;</i> 添加红包-->
<!--</button>-->

<form class="layui-form" action="/test" STYLE="margin-top: 70px;margin-left: 35%">
    <div class="layui-form-item">
        <label class="layui-form-label">红包金额</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">红包数量</label>
        <div class="layui-input-inline">
            <input type="text" name="redNum" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机器人数</label>
        <div class="layui-input-inline">
            <input type="text" name="robotNum" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" STYLE="margin-left: 12%">
        <button class="layui-btn" lay-submit="" lay-filter="demo2">发布红包</button>
        <button class="layui-btn" lay-submit="" lay-filter="demo2">重置</button>
    </div>

</form>
<!--<div class="site-demo-button" id="layerDemo" style="margin-left: 42%">-->
    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">发布红包</button>-->
<!--</div>-->
<script src="../static/layui.js" charset="utf-8"></script>


<script>

</script>
</body>
</html>